
#wl_page_header {
    padding: 30px;
}


#wl_headline {
    font-family: 'Itim', cursive;
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 1px 1px black;
}

#wl_image {
    height: 300px;
    width: 200px;
    border: 10px solid #659dbd;
    border-radius: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#wl_image_column {
    float: left;
    width: 33%;
    padding: 5px;
}

#wl_table {
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
}

#wl_lineitem {
    color: white;
    text-shadow: 1px 1px black;
}

#wl_table_name {
    color:#bd657a;
    text-shadow: 1px 1px black;
}