#deletebutton {
    background-color: #bd657a;
    color: white;
    text-shadow: 2px 2px black;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 15px;
}

#forSaleButton {
    background-color: #65bda8;
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 15px;
    margin-bottom: 10px;;
}

#heading {
    color: #bd65a6;
}

#imageIDP {
    border: 5px solid #BC986A;
    border-radius: 25px;
    height: 75%;
    width:75%;
}

#image_column {
    width: 40%;
    height: 300px;
    padding: 10px;
    margin-bottom: 25px;
}

#individualitem {
    height: 400px;
    column-width: 60%;
}

#itemdetails {
    font-family: 'Itim', cursive;
    text-align: left;
    color: white; 
    text-shadow: 1px 1px black;
    font-size: xx-large;
    list-style-type: none;

}

#item_detail_headline {
    font-family: 'Itim', cursive;
    text-align: center;
    color: white; 
    text-shadow: 1px 1px black;
    padding-bottom: 20px;
    font-size: 60px;
}

#itemtable {
    margin-bottom: 15px;
}

#thebox {
    column-count: 3;
    margin-bottom: 15px;


}

#wishListButton {
    background-color: #bd65a6;
    color: white;
    text-shadow: 1px 1px black;
    border-radius: 15px;
}
