body {
    background-image: linear-gradient(to bottom right, rgb(188, 152, 106, 1), rgb(101, 122, 189));
    text-align: center;
    background-size: cover;
}

#details_button {
    background-color: #659dbd;
    color: #f2f2f2

}
#headline {
    font-family: 'Itim', cursive;
    text-align: center;
    font-size: 60px;
    text-align: center;
}

#image {
    height: 100%;
    width: 50%;
    border: 10px solid #659dbd;
}

#image_column {
    display: inline-block;
    width: 25%;
    height: 300px;
    padding: 10px;
    margin-bottom: 60px;
    margin-top: 60px;
}

#page_header {
    padding: 30px;
}


