body {
    background: #DAAD86;
    text-align: center;
}

#details_button {
    background-color: #659dbd;
    color: #f2f2f2

}
#headline {
    font-family: 'Itim', cursive;
    text-align: center;
    font-size: 60px;
    text-align: center;
}

#image {
    height: 90%;
    width: 75%%;
    border: 5px solid #BC986A;
}
#image_column {
    display: inline-block;
    width: 33%;
    height: 300px;
    padding: 10px;
    margin-bottom: 25px;
}

#page_header {
    padding: 30px;
}


