#headline {
    font-family: 'Itim', cursive;
    text-align: center;
    font-size: 60px;
}

#fs_image {
    height: 300px;
    width: 200px;
    border: 10px solid #659dbd;
    border-radius: 25px;
    margin: 10px;
}

#fs_image_column {
    display: inline-block;
    width: 25%;
    height: 300px;
    margin-bottom: 20px;
}

#fs_lineitem {
    color: white;
    text-shadow: 1px 1px black;
}

#page_header {
    padding: 30px;
}
